*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
}

/*nav*/
nav{
    position: fixed;
    margin-left: 5vw;
    height: 16vh;
    width: 90vw;
    top: 65%;
    text-align: center;
    border-radius: 8px;
    background-color: gray;
    z-index: 1;
}

nav #index figure{
    display: inline-block;
    width: 15%;
}

nav #capacidad{
    padding-left: 15%;
}

nav #capacidad figure{
    display: inline-block;
    width: 10%;
}

nav #salarios{
    padding-left: 15%;
}

nav #salarios figure{
    display: inline-block;
    width: 10%;
}

nav #index figure img{
    position: relative;
    width: 12vw;
    max-width: 100px;
    height: 12vh;
    max-height: 100px;
}

nav #capacidad figure img{
    position: relative;
    width: 12vw;
    max-width: 100px;
    height: 12vh;
    max-height: 100px;
}

nav #salarios figure img{
    position: relative;
    width: 12vw;
    max-width: 100px;
    height: 12vh;
    max-height: 100px;
}

/*Main*/
main #inputContainer{
    background-color: #363f3c23;
    height: 50vh;
    width: 95vw;
    margin-top: 5vh;
    margin-left: 2.5vw;
    text-align: center;
    border-radius: 20px;
}

main #inputContainer #ingresosLabel{
    display: inline-block;
    padding-top: 15vh;
}

main #inputContainer #gastosLabel{
    display: inline-block;
    padding-top: 8vh;
}

main #inputContainer input{
    display: inline-block;
    text-align: center;
    border-radius: 50px;
}

main #inputContainer button{
    display: absolute;
    margin-top: 5vh;
    top: 60vh;
    border-radius: 5px;
    border-width: 1px;
    background-color: rgba(1, 5, 1, 0.219)
}

main #inputContainer #description{
    position: relative;
    top: 50%;
}

/*Footer*/
footer{
    position: fixed;
    height: 20%;
    top: 80%;
    text-align: center;
    background-color: black;
    width: 100vw;
    z-index: 0;
}
footer div img{
    width: 200px;
    height: 75px;
}

footer div p{
    color: white;
}